attrs @ file:///croot/attrs_1695717823297/work
Bottleneck @ file:///croot/bottleneck_1707864210935/work
Brotli @ file:///tmp/abs_ecyw11_7ze/croots/recipe/brotli-split_1659616059936/work
certifi @ file:///croot/certifi_1707229174982/work/certifi
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click @ file:///croot/click_1698129812380/work
exceptiongroup @ file:///croot/exceptiongroup_1706031385326/work
h11 @ file:///croot/h11_1706652277403/work
idna @ file:///croot/idna_1666125576474/work
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
numexpr @ file:///croot/numexpr_1683221822650/work
numpy @ file:///work/mkl/numpy_and_numpy_base_1682953417311/work
outcome @ file:///tmp/build/80754af9/outcome_1609338780791/work
packaging @ file:///croot/packaging_1693575174725/work
pandas @ file:///croot/pandas_1692289311655/work
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv @ file:///croot/python-dotenv_1669132557191/work
pytz @ file:///croot/pytz_1695131579487/work
requests @ file:///croot/requests_1707355572290/work
selenium @ file:///home/conda/feedstock_root/build_artifacts/selenium_1708443302496/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
sniffio @ file:///croot/sniffio_1705431295498/work
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
tqdm @ file:///croot/tqdm_1679561862951/work
trio @ file:///croot/trio_1705518496892/work
trio-websocket @ file:///home/conda/feedstock_root/build_artifacts/trio-websocket_1695816857197/work/dist
typing_extensions @ file:///croot/typing_extensions_1705599297034/work
tzdata @ file:///croot/python-tzdata_1690578112552/work
urllib3 @ file:///croot/urllib3_1707770551213/work
webdriver-manager @ file:///home/conda/feedstock_root/build_artifacts/webdriver-manager_1695656871347/work
wsproto @ file:///home/conda/feedstock_root/build_artifacts/wsproto_1661356345548/work
